
.menu-wrap{
    display: flex;
}
.menu-item{
    padding:0 5px;
    margin-right: 10px;
}
.chart-wrap{
    max-width: 1000px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin: 0 auto;
}
#fineChart{
   max-width: 100%;
height: auto; 
}

.totals-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

